/*
==============
background
==============
*/

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
/*
=========
Images
=========
*/

.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*
=======
Nav UL
=======
*/
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    color:black;
    font-size: 30px;
    
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
/*
============
Info UL
============
*/
.info li{ 
    font-size: 25px;

}
/*
========
Intro
========
*/
.intro{
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/*
=======
fish
=======
*/
.fish{
    width: 25%;
    display:flex;
    float:center;
    
}
/*
======
body
=======
*/
.body{
    text-align: center;
}
.fishtext{
    font-size: 20px;
}
.bass{
    float: right;
}